.top_drink {
  text-align: center;
}

.top_drink h1 {
  margin: 2rem 0;
}

.drink_info {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  align-items: center;
}

.drink_image {
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.info p {
  font-weight: 700;
  line-height: 2rem;
}

.info p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.info p span {
  background-color: #d4e6a5;
  color: #476a2e;
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
  font-weight: 700;
  margin-right: 1rem;
}
