.form_crl {
  width: 30vw;
  margin: 0 auto;
  text-align: center;
}

.usertitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  text-align: center;
}

.login_form {
  background-color: white;
  width: 20vw;
  margin: 0 auto;
  box-shadow: 1px 0 5px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}

.login_form label {
  display: block;
  font-size: 1.25rem;
}

.login_form input {
  font-size: 1rem;
  width: 99%;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
  background-color: #f1f5f8;
}

.btn_crl {
  display: flex;
  text-align: center;
  align-items: center;
}

.login_form button {
  width: 100%;
  border-radius: 0.25rem;
}
